# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs and databases
*.log
*.txt

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
